<!-- templates/combustiveis/dados.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados de Combustíveis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Dados de Combustíveis</h1>


    <!-- templates/read_combustiveis.html -->

    <form method="get">
        <div class="form-group">
            <label for="produto">Tipo de Combustível</label>
            <select name="produto" id="produto" class="form-control">
                <option value="">-- Selecione um Produto --</option>
                {% for p in produtos_unicos %}
                <option value="{{ p }}" {% if p== produto %}selected{% endif %}>{{ p }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>


    <!-- Mapa Plotly -->
    <h2>Mapa dos Endereços Filtrados</h2>
    <div>
        {{ grafico_html|safe }}
    </div>

</div>
</body>
</html>
