<!-- templates/combustiveis/dados.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados de Combustíveis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Dados de Combustíveis</h1>


    <form method="get">
        <div class="form-group">
            <label for="produto">Tipo de Combustível</label>
            <select name="PRODUTO" id="produto" class="form-control">
                <option value="">-- Selecione um Produto --</option>
                {% for p in produtos_unicos %}
                <option value="{{ p }}" {% if p == produto %}selected{% endif %}>{{ p }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>


    <!-- Tabela de Dados Filtrados -->
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
        <tr>
            {% for coluna in colunas %}
            <th>{{ coluna }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for linha in dados %}
        <tr>
            {% for valor in linha.values %}
            <td>{{ valor }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <!-- Gráfico Gerado -->
    <h2>Gráfico</h2>
    <img src="data:image/png;base64,{{ grafico }}" alt="Gráfico de Combustível" class="img-fluid">
</div>
</body>
</html>
