<!-- templates/combustiveis/dados.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados de Combustíveis</title>
    <!-- Inclua o Bootstrap para estilizar a tabela -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Dados de Combustíveis</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    {% for coluna in colunas %}
                        <th>{{ coluna }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for linha in dados %}
                    <tr>
                        {% for valor in linha.values %}
                            <td>{{ valor }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
