<!-- templates/tratar_dados.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivo Excel</title>
    <!-- Link para o Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Envio de Arquivo Excel para Tratamento</h2>
    <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Selecione o arquivo Excel</label>
            <input type="file" class="form-control-file" id="file" name="file" accept=".xlsx, .xlsm" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
</body>
</html>
